@import "tailwindcss";

@layer utilities {
  .image-render-pixel {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}

/* Custom Sleek Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #14161d;
}

::-webkit-scrollbar-thumb {
  background: #282d3b;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c4357;
}
